mixin dishDetail(dish)
    .dishDetail
        .dishDetailImage
            a(href=`/menu/${dish.id}`)
                img(src=`/images/dishes/${dish.image}`, alt=`/images/dishes/${dish.image}` class="dishDetail-img")
        .explicit-dishInfo
            h2(class="dish-name")=dish.nameDish
            p(class="dish-cost")=`${dish.cost}`
            