mixin dish(dish)
    .dish
        .dishImage
            img(src=`/images/dishes/${dish.image}`, alt=`/images/dishes/${dish.image}`)
        .dishInfo
            h3=dish.name
            p=dish.description
            p=dish.cost
            p=dish.rating