mixin dishForm(dish={})
    form(action='' method="POST" )
        .form_input
            label(for="name") Dish Name
            input(type="text" name="name" required value=dish.name)
        .form_input
            label(for="description") Dish Description
            textarea(name="description" id="description", cols="30", rows="10")=dish.description
        .form_input
            label(for="image") Dish image
            input(type="file" name="image" id="image" required)
        .form_input
            label(for="starRating") Star rating
            input(type="number" name="starRating" min="1" max="5" required value=dish.starRating)
        .form_input
            label(for="country") Country
            input(type="text" name="country" id="country" required value=dish.country)
        .form_input
            label(for="cost") Cost
            input(type="number" name="cost" id="cost" required value=dish.cost)
        .form_input
            label(for="available") Available        
            input(type="radio" id="available" name="available" value="true" checked)
            label(for="unavalable") Unavailable        
            input(type="radio" id="unavailable" name="availavle" value="false")
        .form_input
            button(type="submit" class="button_small" )  CONFIRM  
            