extends ../index
block append topbar
    +topbarAdmin
block append content
  .wrap-content
    .container-xl
      .table-responsive
        .table-wrapper(style="min-width:500px")
          .table-title
            .row
              .col-sm-5
                h2
                  | Account 
                  b Management
              
          table.table.table-striped.table-hover
            thead
              tr
                th #
                th Name
                th(style="min-width:120px") Birthday &nbsp;&nbsp;&nbsp;
                th Phone
                //- th Status
                th Action
            tbody
              each user in users
                tr
                  td=user.id
                    //- a 1
                  td=user.username
                  td=user.dateOfBirth
                  td=user.phone
                  //- td  
                  //-   span.status.text-success &bull;
                  //-   |  Active
                  td
                    a.settings(href=`/admin/account/${user.id}` title='Settings' data-toggle='tooltip')
                      <i class="fas fa-edit"></i>

                    //- form(action=`${user.id}/remove`, method="post")
                    //-   .formInput
                    //-     button.delete(type="submit" data-toggle='tooltip' title='Delete')  
                    //-       i.material-icons &#xE5C9;
                      
              
