extends ../index
block append topbar
    +topbarAdmin
block append content
    each user in users
        .dish-form
                form(action=`${user.id}/username`, method="post")
                  .formInput     
                    label(for="username") Username:
                    input(type="text", name="username" value=`${user.username}`)
                    button(type="submit") edit
        .dish-form
                form(action=`${user.id}/birthOfDate`, method="post")
                  .formInput      
                    label(for="birthOfDate") birthOfDate:
                    input(type="birthOfDate", name="username" value=`${user.birthOfDate}`)
                    button(type="submit") edit
        .dish-form        
                form(action=`${user.id}/phone`, method="post")
                  .formInput
                    label(for="phone") Phone:
                    input(type="tel", name="phone" value=`${user.phone}`)
                    button(type="submit") edit
        .dish-form
                form(action=`${user.id}/remove`, method="post")
                  .formInput
                    button(type="submit") remove account
