mixin dishDetailUser(dish)
    .dishDetail
        .dishDetailImage
            a(href=`/menu/${dish.id}`)
                img(src=`/images/dishes/${dish.image}`, alt=`/images/dishes/${dish.image}` class="dishDetail-img")
        .explicit-dishInfo
            h4(class="dish-name")=dish.nameDish
            p(class="dish-cost")=`${dish.cost}`
            form(action=`${dish.id}/rate`, method="post" class="rate")
                fieldset.ratingMenu
                    input(type="radio" name="rating"  id="1star") 
                    if dish.ratingAvg
                        label(for="1star" name="rating")=`${dish.ratingAvg.substring(0,3)}`
                    else
                        label(for="1star" name="rating")=`0`