mixin dishDetailUser(dish)
    .dishDetail
        .dishDetailImage
            a(href=`/${user.username}/user/menu` )
                <i class="far fa-caret-square-left" style="position: absolute;top: 1px;left: 3px;font-size:40px"></i>               
            a()
                img(src=`/images/dishes/${dish.image}`, alt=`/images/dishes/${dish.image}` class="dishDetail-img")
        .explicit-dishInfo
            h4(class="dish-name")=dish.nameDish
            p(class="dish-cost")=`${dish.cost}`
            form(action=`${dish.id}/rate`, method="post" class="rate")
                    fieldset.rating
                        if dish.ratingAvg==5
                            input(type="radio" name="rating" value=5 id="1star" checked) 
                        else
                            input(type="radio" name="rating" value=5 id="1star") 
                        label(for="1star" name="rating")
                        if dish.ratingAvg==4
                            input(type="radio" name="rating" value=5 id="1star" checked) 
                        else
                            input(type="radio" name="rating" value=4 id="2star")
                        label(for="2star" name="rating")
                        if dish.ratingAvg==3
                            input(type="radio" name="rating" value=3 id="1star" checked) 
                        else
                            input(type="radio" name="rating" value=3 id="3star")
                        label(for="3star" name="rating")
                        if dish.ratingAvg==2
                            input(type="radio" name="rating" value=2 id="1star" checked) 
                        else
                            input(type="radio" name="rating" value=2 id="4star")
                        label(for="4star" name="rating")
                        if dish.ratingAvg==1
                            input(type="radio" name="rating" value=1 id="1star" checked) 
                        else
                            input(type="radio" name="rating" value=1 id="5star") 
                        label(for="5star" name="rating")
                    button(type="submit") Bạn đánh giá món ăn này                        