extends ../index
include ../mixins/reserve/reserveFormAdmin
include ../mixins/searchAccountReserveFormHistory
block append topbar
    +topbarAdmin
block append sidebar-text
    .menu-admin
        a Search Account   
        +searchAccountReserveFormHistory(search)
block append content
  .wrap-content(style="min-width:750px")
    .container-xl
      .table-responsive
        .table-wrapper(style="min-width:700px!important")
          .table-title
            .row
              .col-sm-5
                h2
                  | History 
                  b Management
              
          table.table.table-striped.table-hover
            thead
              tr
                th #
                th Name
                th(style="min-width:150px") Date & time
                th Phone
                //- th Status
                th(style="min-width:100px") Party size
                
                th Status
                
            tbody
              each reservationDone in reservationsDone
                tr
                  td=reservationDone.id

                  if(reservationDone.user)
                    td=reservationDone.user.username
                  else 
                    td=`account deleted`
                  td=`${reservationDone.datetime.toString().substring(16,24)} on ${reservationDone.datetime.toString().substring(8,10)} ${reservationDone.datetime.toString().substring(3,7)} ${reservationDone.datetime.toString().substring(11,16) }`
                  if(reservationDone.user)
                    td=reservationDone.user.phone
                  else 
                    td=`account deleted`
                  td=reservationDone.partySize
                  td=reservationDone.state
                  //- td
                  //-   form(action=`reserve/remove/${reservationDone.user.id}`, method="post")
                  //-     button(type="submit" class="trash-btn")
                  //-       <i class="fas fa-trash" title='Delete' data-toggle='tooltip'></i>
                  


    