extends ../index
include ../mixins/reserve/reserveFormAdmin
block append topbar
    +topbarAdmin
block append content
  .wrap-content
    a(href="reserve/history") history
    .container-xl
      .table-responsive
        .table-wrapper
          .table-title
            .row
              .col-sm-5
                h2
                  | Request 
                  b Management
              
          table.table.table-striped.table-hover
            thead
              tr
                th #
                th Name
                th(style="min-width:150px") Date & time
                th Phone
                //- th Status
                th(style="min-width:100px") Party size
                
                th Status
                th Action
                
            tbody
              each reservation in reservations
                tr
                  td=reservation.id
                
                  td=reservation.user.username
                  td=`${reservation.datetime.toString().substring(16,24)} on ${reservation.datetime.toString().substring(8,10)} ${reservation.datetime.toString().substring(3,7)} ${reservation.datetime.toString().substring(11,16) }`
                  td=reservation.user.phone
                  td=reservation.partySize
                  td=reservation.state
                  td
                    form(action=`reserve/confirm/${reservation.user.id}`, method="post")
                      button(type="submit" class="trash-btn")
                        <i class="fas fa-clipboard-check" title='Confirm' data-toggle='tooltip'></i>
                    form(action=`reserve/remove/${reservation.user.id}`, method="post")
                      button(type="submit" class="trash-btn")
                        <i class="fas fa-trash" title='Delete' data-toggle='tooltip'></i>
                      
                  


    