extends ../index
include ../mixins/reserve/reserveFormUser
block append topbar
    +topbarUser(user)
block append content
    .wrap-content
        .form-check
            if pendingReservation.length!=0
               
                form(action=`reserve/${pendingReservation[0].id}/cancel`, method="post")
                    button(type="submit") cancel request
            else  
                +reserveFormUser
            <table class="table table-dark">
            thead
                tr
                    <th scope="col">#</th>
                    <th scope="co00000l">Party Size</th>
                    <th scope="col">Date Time</th>
                    <th scope="col">Status</th>
                    th sth
            <tbody>
                each reservation in reservations
                    <tr>
                        th(scope="row")=reservation.id
                        td=reservation.partySize
                        td=reservation.datetime0
                        td=reservation.state
                        td
                            form(action=`reserve/${pendingReservation[0].id}/cancel`, method="post")
                                button(type="submit") cancel request
                    </tr>  
            </tbody>
            </table>               